* {
  box-sizing: border-box;
}

body {
  font-family: 'open-sans' sans-serif;
  font-size: 16px;
}

.container {
  display: flex;
  flex-direction: column;
  background-color: #fff;
}

.input-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #E5F3F2;
}

form.input-fields {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
}

.title-input {
  width: 90%;
  height: 30px;
  padding-left: 5px;
}

.body-input {
  width: 90%;
  height: 70px;
  margin: 10px 0px;
  padding-left: 5px;
}

.save-button {
  background-color: #00A79D;
  border-style: none;
  color: #FFF;
  height: 30px;
  margin-bottom: 10px;
  width: 90%;
}

.search-area {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.idea-box {
  display: flex;
  flex-direction: column;
  width: 81%;
}

.search-bar {
  width: 81%;
  height: 30px;
  padding-left: 5px;
  margin-top: 10px;
}

.card-delete {
  position: relative;
  float: right;
  top: 20px;
}

.downvote-button {
  margin-left: 10px;
}

p span {
  font-family: "Open-sans"
}

#quality {
  font-family: "Roboto-slab";
  display: inline;
  position: relative;
  left: 17px;
  bottom: 8px;
}

article {
  width: 100%;
}

h2 {
  width: 90%;
}

h1, h2 {
  font-family: 'Roboto Slab', serif;
  font-weight: 700;
  color: #6D6E71;
}

h1 span {
  color: #00A79D;
}

img {
  align-self: flex-end;
  width: 25px;
}
