* {
  box-sizing: border-box;
}

body {
  font-family: 'open-sans' sans-serif;
  font-size: 16px;
}

.container {
  display: flex;
  flex-direction: column;
  background-color: #fff;
}

.input-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #E5F3F2;
}

form.input-fields {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
}

.title-input {
  width: 90%;
  height: 30px;
  padding-left: 5px;
  border: 1px solid lightgrey;
}

textarea {
  resize: none;
  width: 90%;
  margin: 15px 0px;
  padding: 5px 5px 62px 5px;
  border: 1px solid lightgrey;
}

.save-button {
  background-color: #00A79D;
  border-style: none;
  color: #FFF;
  height: 30px;
  margin-bottom: 15px;
  width: 90%;
  cursor: pointer;
}

.save-button:hover {
  background-color: #045E55;
}

.search-area {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.idea-box {
  display: flex;
  flex-direction: column;
  width: 81%;
}

hr {
  color: #D1D3D4;
}

.search-bar {
  width: 81%;
  height: 30px;
  padding-left: 5px;
  margin: 15px 0 20px;
  border: 1px solid lightgrey;
}

.card-delete {
  height: 25px;
  width: 25px;
  position: relative;
  float: right;
  top: 20px;
  cursor: pointer;
  background-image: url(images/delete.svg);
}

.card-delete:hover {
  background-image: url(images/delete-hover.svg);
}

p.quality {
  font-family: "Roboto slab";
  display: inline;
  position: relative;
  left: 19px;
  top: -8px;
  color: #6D6E71;
  font-weight: 400;
}

p#body {
    color: #939598;
}

h4{
  display: inline;
  position: relative;
  left: 20px;
  top: -8px;
  color: #6D6E71;
  font-weight: 400;
}

article {
  width: 100%;
}

h2 {
  width: 75%;
}

h1, h2 {
  font-family: 'Roboto Slab', serif;
  font-weight: 700;
  color: #6D6E71;
}

h1 span {
  color: #00A79D;
}

div {
  display: inline-block;
  height: 25px;
  width: 25px;
}

.upvote-button {
  background-image: url(images/upvote.svg);
  cursor: pointer;
}

.upvote-button:hover {
  background-image: url(images/upvote-hover.svg);
}

.downvote-button {
  margin-left: 10px;
  background-image: url(images/downvote.svg);
  cursor: pointer;
}

.downvote-button:hover {
  background-image: url(images/downvote-hover.svg);
}

@media screen and (min-width: 900px) {

  h1{
    font-size: 3em;
  }

  form.input-fields {
    width: 70%;
  }

  .search-bar {
    width: 63%;
  }

  .idea-box {
    width: 63%;
  }

  textarea {
    resize: none;
    width: 90%;
    height: 30px;
    margin: 15px 0px;
    padding: 5px 5px 5px 5px;
    border: 1px solid lightgrey;
  }

}
