* {
  box-sizing: border-box;
}

body {
  font-family: 'open-sans' sans-serif;
  font-size: 16px;
}

.container {
  display: flex;
  flex-direction: column;
  background-color: #fff;
}

.input-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #E5F3F2;
}

form.input-fields {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
}

.title-input {
  width: 90%;
  height: 30px;
  padding-left: 5px;
}

.body-input {
  width: 90%;
  height: 70px;
  margin: 10px 0px;
  padding-left: 5px;
}

.save-button {
  background-color: #00A79D;
  border-style: none;
  color: #FFF;
  height: 30px;
  margin-bottom: 10px;
  width: 90%;
}

.search-area {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.idea-box {
  display: flex;
  flex-direction: column;
  width: 81%;
}

.search-bar {
  width: 81%;
  height: 30px;
  padding-left: 5px;
  margin-top: 10px;
}

.card-delete {
  height: 25px;
  width: 25px;
  position: relative;
  float: right;
  top: 20px;
  cursor: pointer;
  background-image: url(images/delete.svg);
}

.card-delete:hover {
  background-image: url(images/delete-hover.svg);
}

p#body {
    color: #939598;
}

p.quality {
  font-family: "Roboto slab";
  display: inline;
  position: relative;
  left: 19px;
  top: -8px;
  color: #6D6E71;
  font-weight: 400;
}

#quality {
  /*font-family: "Roboto slab";
  display: inline;
  position: relative;
  left: -13px;
  bottom: 0px;*/
}

h4{
  display: inline;
  position: relative;
  left: 20px;
  top: -8px;
  color: #6D6E71;
  font-weight: 400;
}

article {
  width: 100%;
}

h2 {
  width: 90%;
}

h1, h2 {
  font-family: 'Roboto Slab', serif;
  font-weight: 700;
  color: #6D6E71;
}

h1 span {
  color: #00A79D;
}

div {
  display: inline-block;
  height: 25px;
  width: 25px;
}


.upvote-button {
  background-image: url(images/upvote.svg);
  cursor: pointer;
}

.upvote-button:hover {
  background-image: url(images/upvote-hover.svg);
}

.downvote-button {
  margin-left: 10px;
  background-image: url(images/downvote.svg);
  cursor: pointer;
}

.downvote-button:hover {
  background-image: url(images/downvote-hover.svg);
}
